body.light {
  background-color: #86ffe8;
  color: #000;
}

body.light .header {
  color: #000;
}

body.light .button {
  background-color: #646fff;
  color: #000;
}

body.light .card {
  background-color: #fff;
  color: #000;
}

body.light .content-area {
  background-color: #83ffce;
}

body.dark {
  background-color: #2d2d2d;
  color: #fff;
}

body.dark .header {
  color: #fff;
}

body.dark .button {
  background-color: #444;
  color: #fff;
}

body.dark .card {
  background-color: #333;
  color: #fff;
}

body.dark .content-area {
  background-color: #2d2d2d;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1; /* Faz com que o conteúdo ocupe o restante da altura disponível */
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #3b82f6; /* Cor do fundo da navbar */
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.nav-link:hover {
  text-decoration: underline;
}

.theme-toggle-button {
  padding: 10px 20px;
  background-color: #ffbb33;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.theme-toggle-button:hover {
  background-color: #ff9f00;
}

section {
  margin-top: 30px;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.card {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.1rem;
  color: #555;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.input, .textarea {
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}

.textarea {
  height: 150px;
  resize: vertical;
}

.button {
  padding: 12px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff9f00;
}